* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
}

.playerfield-container .card-base {
  scale: 0.8
}


.hand-container .card-base {
  margin-left: -30px;
}

figure.player-hero .mana-bar {
  right: 14.2%;
  bottom: 2%;
}

figure.enemy-hero .mana-bar {
  right: 14.2%;
  top: 80%;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12024;

}