* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.playerfield-container .card-base {
  scale: 0.8
}


.hand-container .card-base {
  margin-left: -30px;
}

figure.player-hero .mana-bar {
  right: 14.2%;
  bottom: 2%;
}

figure.enemy-hero .mana-bar {
  right: 14.2%;
  top: 18%;
}